@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
$font: 'Poppins', sans-serif;
$medio: #202530;
$oscuro: #181C25;
$negro: #0E121A;
$azul: #0256FF;
$gris: #596675;
